<div class="conteiner">
    <!--<div class="jumbotron  jumbotron-image shadow"
        style="background-image: url({{backgroundImagen}});">


        <div class=" d-flex flex-column justify-content-center align-items-center h-100">

            <tr *ngFor="let item of arrayTxt">
                <td>
                    <h1 class="line anim-typewriter font-weight-bold" style="color:rgba(255, 147, 85, 0.877); font-weight: 900; -webkit-text-stroke: 1px rgba(0, 0, 0, 0.313);">{{item}}</h1>
                </td>
            </tr>
            <a class="btn btn-dark" href="#contactForm" style="background-color: rgba(255, 147, 85, 0.877); border: none;">Contacte</a>
        </div>

    </div>-->

    <!--Carousel Vista web----------------------------------------------------------------------------Start----------->
    <div id="carouselExampleIndicators" class="carousel slide d-none d-sm-none d-md-block" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../../../assets/img/Group 2 (1).svg" alt="First slide">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 50px; margin-left: -80px;">
                <h5 style="text-align: left; 
                           font-size: 65px; 
                           font-weight: bold;
                           text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                           color: #212529;">Rápido, Certificado & Soluciones de Calidad.</h5>

                <p style="text-align: left;
                        font-size: 18px;
                        font-weight: 500;
                        color: #212529;">Gracias a nuestra experiencia de más de 40 años, ofrecemos a nuestros clientes calidad en nuestros productos, instalaciones y servicios.</p>

                <a class="boton" style="float: left;
                                        text-decoration: none;
                                        background-color: coral;
                                        padding: 8px 50px 8px;
                                        border-radius: 3px 10px;
                                        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
                                        color: white;

                " href="#965404705"><i class="fas fa-phone"></i> Llamar</a>
              </div>
          </div>
      </div>
      <!--Carousel Vista web-------------------------------------------------------------------------------Finish--------->
      <!--Carousel Vista Mobile----------------------------------------------------------------------------Start---------->
      <section class="d-block d-sm-block d-md-none">
        <img class="d-block w-100" src="../../../../assets/img/Group 2 (1).svg" alt="First slide">
      </section>
      <!--Carousel Vista Mobile-------------------------------------------------------------------------------Finish------>
</div>