<div class="conteiner">
    <div class="jumbotron  jumbotron-image shadow"
        style="background-image: url({{backgroundImagen}});height: 500px;">


        <div class=" d-flex flex-column justify-content-center align-items-center h-100">

            <tr *ngFor="let item of arrayTxt">
                <td>
                    <h1 class="line anim-typewriter text-warning font-weight-bold">{{item}}</h1>
                </td>
            </tr>
            <a class="btn btn-dark text-warning" href="#contactForm">Contacte</a>
        </div>

    </div>
</div>