<div class="conteiner">
    <!--<div class="jumbotron  jumbotron-image shadow"
        style="background-image: url({{backgroundImagen}});">


        <div class=" d-flex flex-column justify-content-center align-items-center h-100">

            <tr *ngFor="let item of arrayTxt">
                <td>
                    <h1 class="line anim-typewriter font-weight-bold" style="color:rgba(255, 147, 85, 0.877); font-weight: 900; -webkit-text-stroke: 1px rgba(0, 0, 0, 0.313);">{{item}}</h1>
                </td>
            </tr>
            <a class="btn btn-dark" href="#contactForm" style="background-color: rgba(255, 147, 85, 0.877); border: none;">Contacte</a>
        </div>

    </div>-->

    <!--Carousel Vista web----------------------------------------------------------------------------Start----------->
    <div id="carouselExampleIndicators" class="carousel slide d-none d-sm-none d-md-block" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../../../assets/img/Group 2 (1).svg" alt="First slide">
            <div class="carousel-caption d-none d-md-block" >
                <h5 class="titleJumbo">Rápido, Certificado & Soluciones de Calidad <img src="../../../../assets/img/iconos/medalla.svg" alt="" width="55px"></h5>

                <p class="parrafoJumbo">Gracias a nuestra experiencia de más de 40 años, ofrecemos a nuestros clientes calidad en nuestros productos, instalaciones y servicios.</p>
                
               
              </div>
          </div>
      </div>
      <!--Carousel Vista web-------------------------------------------------------------------------------Finish--------->
      
</div>