<h1 class="display-4"> Política de cookies</h1>
<hr>
<h2> 1. Concepto de cookies </h2>
    <p>Las cookies son ficheros que se almacenan en el ordenador del usuario que navega a través de Internet y que, en particular, 
    contiene un número que permite identificar unívocamente el ordenador del usuario, aunque éste cambie de localización o de dirección IP.
    <br><br>
    Las cookies son instaladas durante la navegación por Internet, bien por los sitios web que visita el usuario o bien por terceros con los que se relaciona el sitio web,
     y permiten a éste conocer su actividad en el mismo sitio o en otros con los que se relaciona éste, por ejemplo: el lugar desde el que accede,
    el tiempo de conexión, el dispositivo desde el que accede (fijo o móvil), el sistema operativo y navegador utilizados, las páginas más visitadas, 
    el número de clics realizados y de datos respecto al comportamiento del usuario en Internet.
    <br><br>
    El sitio web es accesible sin necesidad de que las cookies estén activadas, si bien, su desactivación puede impedir el correcto funcionamiento del mismo.</p>

<h2> 2. Autorización para el uso de cookies.</h2>
    <p>De conformidad con el aviso de cookies que aparece al inicio del Sitio Web,
      el usuario o visitante acepta que,
       al navegar por el mismo, consiente expresamente el uso de cookies según la descripción que se detalla a continuación,
      excepto en la medida que haya modificado la configuración de su navegador para rechazar la utilización de las mismas.</p>

<h2>3. Tipos de Cookies que se utilizan en el Sitio Web.</h2>
    <p>El usuario que navega por el Sitio Web, puede encontrar cookies insertadas directamente por {{nombreDeEmpresa}} en adelante el Prestador de la Página,
      o bien cookies insertadas por entidades distintas a ésta, según lo detallado a continuación:</p>
      <ul>
          <li><b>Cookies Propias:</b> Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio Prestador de la Pagina y desde el que se presta el servicio solicitado por el usuario.</li>
          <li><b>Cookies de sesión:</b>son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a la Página.</li>
          <li><b>Cookies de Terceros:</b> Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el Prestador de la Pagina sino por otra entidad que trata los datos obtenidos a través de las cookies.</li>
          <li><b>Cookies de YouTube:</b> se utilizan para insertar videos en nuestro sitio web.</li>
          <li><b>Cookies sociales</b> necesarias para redes sociales externas (Facebook, Twitter, Google+, Instagram y YouTube) .Se instalan cookies de terceros, a todos sus visitantes, concretamente, alguna de las redes sociales con las que nos vinculamos, y aunque no sean usuarios registrados en las correspondientes plataformas, si lo desea, pueden consultar su política de cookies:</li>
          <ul>
              <li><b>Página de Cookies de Facebook:</b><a href="http://www.facebook.com/help/cookies">www.facebook.com/help/cookies</a></li>
              <li><b>Página de Privacidad de Twitter:</b><a href="https://twitter.com/privacy">https://twitter.com/privacy</a></li>
              <li><b>Página de privacidad de google +:</b><a href="https://www.google.es/intl/es/policies/technologies/cookies">https://www.google.es/intl/es/policies/technologies/cookies</a></li>
              <li><b>Página de privacidad de Instagram:</b> <a href="https://www.facebook.com/help/instagram/155833707900388">https://www.facebook.com/help/instagram/155833707900388</a></li>
          </ul>
          <br>
          <li><b>Cookies de análisis:</b> Son las cookies relacionadas con Google Analytics. Nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.
            <br>
            Más información sobre las <b>cookies de GoogleAnalytics:</b>
            <br>
            
            <a href="#">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>
            <br>
            Cuando navegue por <i>{{nombreDeEmpresa}}</i> se instalarán cookies de publicidad en su ordenador para que podamos conocer sus intereses.</li>
      </ul>
<h2>4. ¿Cómo se pueden gestionar las cookies en los navegadores?</h2>
    <p>Todos los navegadores permiten gestionar la privacidad y el uso de las cookies, llegando al extremo de poder bloquear el uso de las cookies. Usted puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador. En el caso de que no permita la instalación de cookies en su navegador es posible que no pueda acceder a alguna de las secciones de nuestra web.
        <br><br>
        Adjuntamos enlaces con información para distintos tipos de navegadores:</p>
        <ul>
            <li><b>Google Chrome:</b><a href="https://support.google.com/chrome/answer/95647?hl=es">https://support.google.com/chrome/answer/95647?hl=es</a></li>
            <li><b>Firefox:</b><a href=" http://support.mozilla.org/es/kb/configuracion-de-la-privacidad-el-historial-de-nav?redirectlocale=es&as=u&redirectslug=Ventana+Opciones+-+Panel+Privacidad"> http://support.mozilla.org/es/kb/configuracion-de-la-privacidad-el-historial-de-nav?redirectlocale=es&as=u&redirectslug=Ventana+Opciones+-+Panel+Privacidad</a></li>
            <li><b>Mozilla:</b><a href="http://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies">http://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies</a></li>
            <li><b>Internet Explorer:</b><a href="http://windows.microsoft.com/es-ES/windows7/How-to-manage-cookies-in-Internet-Explorer-9">http://windows.microsoft.com/es-ES/windows7/How-to-manage-cookies-in-Internet-Explorer-9</a></li>
            <li><b>Safari:</b><a href="http://support.apple.com/kb/PH5042">http://support.apple.com/kb/PH5042</a></li>
        </ul>
        <p>Google ha desarrollado un complemento de inhabilitación de Google Analytics para navegadores al que puede acceder en el siguiente enlace:</p>
        <ul>
            <li><a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a></li>
            <li><a href="https://app.adroll.com/optout/safari">https://app.adroll.com/optout/safari</a></li>
        </ul>
<h2>5. ¿Qué ocurre si rechaza la instalación de cookies?</h2>
    <p>En este caso podrá seguir usando el sitio web, aunque el uso de algunos de nuestros servicios podrá ser limitado y por tanto su experiencia en nuestro sitio web podrá resultar menos satisfactoria. 
        Esto podrá efectuarse en cualquier momento.</p>

        <h2>6. Configuración del navegador</h2>
        <p>El Prestador recuerda a sus usuarios que el uso de cookies podrá estar sujeto a su aceptación durante la instalación o actualización del navegador utilizado por éstos.
            <br><br>
            Esta aceptación podrá ser revocada mediante las opciones de configuración de contenidos y privacidad disponibles en el mismo. El Prestador recomienda a sus usuarios que consulten la ayuda de su navegador o acceda a las páginas web de ayuda de los principales navegadores.</p>

            <h2>7. Consentimiento</h2>
    <p>Al navegar y continuar en el sitio web estará consintiendo el uso de las cookies antes enunciadas, y en las condiciones contenidas en la presente Política de Cookies.
<br><br>
        Si el usuario desea revocar el consentimiento prestado o realizar alguna pregunta sobre la Política de Cookies del Sitio Web, se puede poner en contacto con el Prestador a través de la siguiente dirección <i>{{correoDeEmpresa}}</i> indicando en el asunto <i>“Política de Cookies”</i>.</p>