<h1> Política de cookies</h1>
<h2> 1. Concepto de cookies </h2>
    <p>Las cookies son ficheros que se almacenan en el ordenador del usuario que navega a través de Internet y que, en particular, 
    contiene un número que permite identificar unívocamente el ordenador del usuario, aunque éste cambie de localización o de dirección IP.
    Las cookies son instaladas durante la navegación por Internet, bien por los sitios web que visita el usuario o bien por terceros con los que se relaciona el sitio web,
     y permiten a éste conocer su actividad en el mismo sitio o en otros con los que se relaciona éste, por ejemplo: el lugar desde el que accede,
    el tiempo de conexión, el dispositivo desde el que accede (fijo o móvil), el sistema operativo y navegador utilizados, las páginas más visitadas, 
    el número de clics realizados y de datos respecto al comportamiento del usuario en Internet.
    El sitio web es accesible sin necesidad de que las cookies estén activadas, si bien, su desactivación puede impedir el correcto funcionamiento del mismo.</p>

<h2> 2. Autorización para el uso de cookies.</h2>
    <p>De conformidad con el aviso de cookies que aparece al inicio del Sitio Web,
      el usuario o visitante acepta que,
       al navegar por el mismo, consiente expresamente el uso de cookies según la descripción que se detalla a continuación,
      excepto en la medida que haya modificado la configuración de su navegador para rechazar la utilización de las mismas.</p>

<h2>3. Tipos de Cookies que se utilizan en el Sitio Web.</h2>
    <p>El usuario que navega por el Sitio Web, puede encontrar cookies insertadas directamente por {{nombreDeEmpresa}} en adelante el Prestador de la Página,
      o bien cookies insertadas por entidades distintas a ésta, según lo detallado a continuación:</p>
      <ul>
          <li><b>Cookies Propias:</b> Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio Prestador de la Pagina y desde el que se presta el servicio solicitado por el usuario.</li>
          <li><b>Cookies de sesión:</b>son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a la Página.</li>
          <li><b>Cookies de Terceros:</b> Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el Prestador de la Pagina sino por otra entidad que trata los datos obtenidos a través de las cookies.</li>
          <li><b>Cookies de YouTube:</b> se utilizan para insertar videos en nuestro sitio web.</li>
          <li><b>Cookies sociales</b> necesarias para redes sociales externas (Facebook, Twitter, Google+, Instagram y YouTube) .Se instalan cookies de terceros, a todos sus visitantes, concretamente, alguna de las redes sociales con las que nos vinculamos, y aunque no sean usuarios registrados en las correspondientes plataformas, si lo desea, pueden consultar su política de cookies:</li>
      </ul>