
    <h1> Política de cookies</h1>
    <h2> Concepto de cookies </h2>
    <p>Las cookies son ficheros que se almacenan en el ordenador del usuario que navega a través de Internet y que, en
        particular,
        contiene un número que permite identificar unívocamente el ordenador del usuario, aunque éste cambie de
        localización o de dirección IP.
        Las cookies son instaladas durante la navegación por Internet, bien por los sitios web que visita el usuario o
        bien por terceros con los que se relaciona el sitio web,
        y permiten a éste conocer su actividad en el mismo sitio o en otros con los que se relaciona éste, por ejemplo:
        el lugar desde el que accede,
        el tiempo de conexión, el dispositivo desde el que accede (fijo o móvil), el sistema operativo y navegador
        utilizados, las páginas más visitadas,
        el número de clics realizados y de datos respecto al comportamiento del usuario en Internet.
        El sitio web es accesible sin necesidad de que las cookies estén activadas, si bien, su desactivación puede
        impedir el correcto funcionamiento del mismo.</p>


