<div class="cabecera">
    <h1 class="titleCabecera">
        FONTANERÍA
    </h1>

    <h3 class="subtitle">
        Proyectos Realizados:
    </h3>

    <p class="subtitle">
      Instalación de <strong>fontanería en general</strong> en obra nueva y reforma, osmosis, termos, griferías,
      muebles de baño, fregaderos, sanitarios.
    </p>
</div>

<div class="line"></div>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/fontaneria/modern-minimalist-bathroom-3115450_1280.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación completa</h5>
        <h6 class="card-subtitle">Cuarto de baño</h6>
        <p class="card-text mt-3"><strong>Instalación de WC</strong>, <strong>bañera</strong>, <strong>grifería</strong>, cristal de espejo, etc.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/fontaneria/bathroom-1336167_1280.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación completa</h5>
        <h6 class="card-subtitle">Cuarto de baño</h6>
        <p class="card-text mt-3">Instalación de elementos de fontanería, <strong>ventanas de PVC</strong> blanco y cristales climalit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/fontaneria/bathroom-2094733_1280.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación completa</h5>
        <h6 class="card-subtitle">Cuarto de baño</h6>
        <p class="card-text mt-3">Instalación de elementos de fontanería, <strong>cristal de espejo</strong> y WC.</p>
      </div>
    </div>
  </div>

<div class="buttonSection">
<button class="btn" routerLink="/web">volver</button>
</div>
