<div class="cabecera">
    <h1 class="titleCabecera">
        ALBAÑILERÍA
    </h1>

    <h3 class="subtitle">
        Proyectos Realizados:
    </h3>

    <p>
      Realizamos <strong>reformas en viviendas</strong>, sustitución de <strong>pavimentos</strong>, <strong>alicatados</strong>, cambio de baño y plato de ducha,
      barbacoas y exteriores, etc.
    </p>
</div>

<div class="line"></div>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/albanileria/03.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Reforma interior</h5>
        <h6 class="card-subtitle">Local comercial</h6>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/albanileria/02.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Reforma interior</h5>
        <h6 class="card-subtitle">Local comercial</h6>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/albanileria/01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Reforma interior</h5>
        <h6 class="card-subtitle">Local comercial</h6>
       
      </div>
    </div>
  </div>

<div class="buttonSection">
<button class="btn" routerLink="/web">volver</button>
</div>
