<div class="cabecera">
    <h1 class="titleCabecera">
        TOLDOS
    </h1>

    <h3 class="subtitle">
        Proyectos Realizados:
    </h3>

    <p class="subtitle">
      Cerramientos de terrazas de comercios y viviendas con toldos tipo telón, pérgolas con estructura de hierro o aluminio para comercio o vivienda, diseños exclusivos
      al gusto del cliente además disponemos de lo último en pérgolas bioclimáticas de alta gama.
    </p>
</div>

<div class="line"></div>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/toldos/rsz_20180703_190444.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación toldo</h5>
        <h6 class="card-subtitle">Instalación en exterior</h6>
        <p class="card-text mt-3"><strong>Toldo</strong> telón fabricado en PVC con ventanas transparentes y anclajes de <strong>seguridad anti viento</strong>.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/toldos/rsz_20180717_202603.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación toldo</h5>
        <h6 class="card-subtitle">Instalación en comercio</h6>
        <p class="card-text mt-3">Instalación de <strong>pérgola</strong> según reglamentación municipal. Fabricada en tubo estructural de 100x100 y <strong>lacado en imitación a forja</strong>. 
          Parte superior fabricada con <strong>palillería doble</strong> y lona de <strong>PVC.</strong>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/toldos/rsz_20200320_125918.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación toldo</h5>
        <h6 class="card-subtitle">Instalación vivienda</h6>
        <p class="card-text mt-3">Montaje de toldo tipo <strong>capota</strong> montado en estructura de aluminio de alta calidad, montado con lona
          <strong>tratamiento anti lluvia</strong>.
        </p>
      </div>
    </div>
  </div>

<div class="buttonSection">
<button class="btn" routerLink="/web">volver</button>
</div>
