<div class="container">
    <div class="row">
        <div class="boxTitle">
            <h1 class="display-4 title"> Aviso Legal</h1>
            <hr>
        </div>
        <div class="boxContent">   

    <p>En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSI-CE), a continuación se exponen los datos identificativos del Responsable del Sitio Web.</p>
    <ul>
        <h4>Información General</h4>
        <li><b>Denominación social: </b>{{denominacionSocial}}</li>
        <li><b>Nombre Comercial: </b>{{nombreComercial}}</li>
        <li><b>Domicilio: </b>{{domicilio}}</li>
        <li><b>CIF/NIF nº: </b>{{cif}}</li>
        <li><b>Email de contacto: </b>{{emailEmpresa}}</li>
        <li><b>Teléfono nº: </b>{{telefono}}</li>
        <li><b>Sitio web: </b>{{sitioWeb}}</li>
    </ul>
<p>Inscrita en el Registro Mercantil de {{registroMercantil}}, Tomo {{tomoMercantil}}, libro {{libroMercantil}}, folio {{folioMercantil}}, Hoja {{hojaMercantil}}, Inscripción {{inscripcionMercantil}}.</p>
</div>  
<div class="boxContent">
<h2> Objeto</h2>
    <p>El sitio web enunciado anteriormente (en adelante, el “{{sitioWeb}}”) es propiedad de {{nombreEmpresa}} (en adelante, “El Prestador”) y pone a disposición de los Usuarios el presente documento con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), así como informar a todos los Usuarios del Sitio Web respecto a cuáles son las condiciones generales de uso del mismo.</p>
</div>
<div class="boxContent">
<h2>Uso del Sitio Web y Responsabilidad del Usuario</h2>
    <p>El Prestador suministra el contenido y los servicios que están disponibles en el Sitio Web, con sujeción a las presentes Condiciones generales de Uso así como a la política sobre tratamiento de datos personales (en adelante <b>“Política de Privacidad”</b>). El acceso a este Sitio Web o su utilización en cualquier forma le otorga la calificación de “Usuario” e implica la aceptación sin reservas de todas y cada una de las presentes Condiciones generales de Uso, reservándose El Prestador el derecho a modificarlos en cualquier momento.</p>
    <p>En consecuencia, será responsabilidad de todo Usuario, su atenta lectura en cada una de las ocasiones en que acceda a este Sitio Web, por lo que si éste no está de acuerdo con cualquiera de los mismos aquí dispuestos, deberá abstenerse respecto al uso del presente Sitio Web.</p>
    <p>Asimismo, queda advertido de que, en ocasiones, se podrán establecer condiciones particulares para la utilización en el Sitio Web de contenidos y/o servicios específicos, la utilización de dichos contenidos o servicios implicará la aceptación de las condiciones particulares en ellos especificadas.</p>
</div>
<div class="boxContent">
<h2>Responsabilidad del Prestador, Fuerza Mayor y Obligaciones del Usuario</h2>
    <p>El Prestador podrá interrumpir el servicio o resolver de modo inmediato la relación con el Usuario si detecta que el uso de su Sitio Web o de cualquiera de los servicios ofertados en el mismo es contrario a las presentes Condiciones generales de Uso.</p>
    <p>Este sitio web ha sido revisado y probado para que funcione correctamente. En principio, puede garantizarse el correcto funcionamiento los 365 días del año, 24 horas al día. No obstante, el Prestador no descarta la posibilidad de que existan supuestos de fuerza mayor o de caso fortuito que hagan imposible el acceso a la página web.</p>
    <p>Por tanto El Prestador no garantiza el acceso continuado, ni la correcta visualización, descarga o utilidad de los elementos e informaciones contenidas en la página, que pueden verse impedidos, dificultados o interrumpidos por factores o circunstancias que están fuera de su control.</p>
    <p>El Prestador no se hace responsable por daños, perjuicios, pérdidas, reclamaciones o gastos derivados del uso del Sitio Web. Únicamente será responsable de eliminar, lo antes posible, los contenidos que puedan generar tales perjuicios, siempre que así se notifique.
        <br><br>
        En especial no será responsable de los perjuicios que se pudieran derivar, entre otros, de:</p>
        <ul>
            <li>Interferencias, interrupciones, fallos, omisiones, averías telefónicas, retrasos, bloqueos o desconexiones en el funcionamiento del sistema electrónico, motivadas por deficiencias, sobrecargas y errores en las líneas y redes de telecomunicaciones, o por cualquier otra causa ajena al control de El Prestador.</li>
            <li>Intromisiones ilegitimas mediante el uso de programas malignos de cualquier tipo y a través de cualquier medio de comunicación, tales como virus informáticos o cualesquiera otros.</li>
            <li>Abuso indebido o inadecuado del Sitio Web.</li>
            <li>Errores de seguridad o navegación producidos por un mal funcionamiento del navegador o por el uso de versiones no actualizadas del mismo.</li>
            <li>Conflictos sociales, huelgas, rebelión, explosiones, inundaciones, actos y omisiones del Gobierno.</li>
        </ul>
        <p>El Usuario se compromete hacer un uso adecuado y lícito del Sitio Web así como de los contenidos y servicios, de conformidad con: la legislación aplicable en cada momento; las Condiciones de Uso del Sitio Web, la moral y buenas costumbres generalmente aceptadas y el orden público.</p>
        <p>El Usuario deberá facilitar información veraz al cumplimentar con sus datos de carácter personal los formularios contenidos en el sitio web y a mantenerlos actualizados en todo momento de forma que responda a su situación real.</p>
        <p>El usuario será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a El Prestador o a Terceros por la información que facilite.</p>
        <p>No obstante lo establecido en el apartado anterior el Usuario deberá asimismo abstenerse de:</p>
        <p>Hacer un uso no autorizado o fraudulento del Sitio Web y/o de los contenidos, con fines o efectos ilícitos, prohibidos en las presentes Condiciones de Uso, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático.</p>
        <p>Si de manera negligente o dolosa incumpliera cualquiera de las obligaciones establecidas en las presentes Condiciones generales de Uso, responderá por todos los daños y perjuicios que de dicho incumplimiento pudieran derivarse para El Prestador.</p>
</div>
<div class="boxContent">
<h2>Hipervínculos</h2>
    <p>Desde el sitio web en el caso de incluir enlaces a otros sitios web gestionados por terceros, dado que el Prestador no puede controlar siempre los contenidos introducidos por éstos en sus sitios web, éste no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, el Prestador manifiesta que procederá a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional, la moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuestión.</p>
</div>
<div class="boxContent">
        <h2>Propiedad Intelectual e industrial</h2>
        <p>El sitio web, incluyendo a título enunciativo pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los diseños, nombres, logotipos, texto y/o gráficos son propiedad del prestador o en su caso dispone de licencia o autorización por parte de los autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de Propiedad Intelectual e Industrial, así como inscritos en los registros públicos correspondientes.</p>
        <p>Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por parte del Prestador. Cualquier uso no autorizado previamente por parte del prestador será considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.</p>
        <p>Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos.</p>
        <p>Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del siguiente correo electrónico {{emailEmpresa}}</p>
</div>
<div class="boxContent">
    <h2>Información a Menores</h2>
        <p>Queda prohibido el acceso y uso del Sitio Web a los menores de edad. EL Prestador no se responsabiliza de la veracidad y exactitud de los datos rellenados por el Usuario. Se recuerda a los usuarios mayores de edad que tengan a su cargo menores que será de su exclusiva responsabilidad determinar qué servicios y/o contenidos son o no apropiados para la edad de estos últimos.</p>
        <p>El Prestador les informa que existen programas informáticos que permiten filtrar y bloquear el acceso a determinados contenidos y servicios, de tal forma que los padres, por ejemplo, pueden decidir cuáles son los contenidos y servicios del Portal a los que sus hijos pueden tener acceso y cuáles no.</p>
    </div>

    <div class="boxContent">
        <h2>Duración y terminación</h2>
            <p>La prestación del servicio del presente Sitio Web y los demás servicios tienen en principio una duración indefinida. No obstante, El Prestador podrá dar por terminada o suspender cualquiera de los servicios del portal. Cuando sea ello posible, El Prestador anunciará la terminación o suspensión de la prestación del servicio determinado.</p>
        </div>

        <div class="boxContent">
            <h2>Resolución de controversias. Legislación aplicable y jurisdicción.</h2>
                <p>Las presentes Condiciones Generales de Uso del Sitio Web, se regirán por la legislación española. Cualquier controversia será resuelta ante los Juzgados y Tribunales de la {{ciudadTribunal}}.</p>
                <p>En el supuesto de que cualquier estipulación de las presentes Condiciones Generales de Uso resultara inexigible o nula en virtud de la legislación aplicable o como consecuencia de una resolución judicial o administrativa, dicha inexigibilidad o nulidad no hará que las presentes Condiciones Generales de Uso resulten inexigibles o nulas en su conjunto. En dichos casos, El Prestador procederá a la modificación o sustitución de dicha estipulación por otra que sea válida y exigible y que, en la medida de lo posible, consiga el objetivo y pretensión reflejados en la estipulación original.</p>
            </div>
    </div>
</div>
