<div class="cabecera">
    <h1 class="titleCabecera">
        AIRE ACONDICIONADO
    </h1>

    <h3 class="subtitle">
        Proyectos Realizados:
    </h3>
</div>

<div class="line"></div>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/pexels-expect-best-323705.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titulo Proyecto</h5>
        <h6 class="card-subtitle">Sub titulo</h6>
        <p class="card-text mt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/pexels-pixabay-417273.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titulo Proyecto</h5>
        <h6 class="card-subtitle">Sub titulo</h6>
        <p class="card-text mt-3">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/pexels-expect-best-323705.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titulo Proyecto</h5>
        <h6 class="card-subtitle">Sub titulo</h6>
        <p class="card-text mt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>

<div class="buttonSection">
<button class="btn" routerLink="/web">volver</button>
</div>
