button{
    Background: none;
    border: none;
}


.button-edit{
    font-size: 1em;
    color: rgb(252, 227, 0); 
}
.button-borrar{
    font-size: 1em;
    color: rgb(252, 0, 0); 
}
.button-ver{
    font-size: 1em;
    color: rgb(0, 101, 252); 
}