<div class="container">
    <div class="mt-4 text-center d-flex justify-content-center align-items-center">
        <h3 class="display-8">
            TABLERO
        </h3>
    </div>

    <div class=" mt-4 row ">
        <div class="container ">
            <div class="text-center d-flex justify-content-center align-items-center">
                <h2>Mensajes</h2>
            </div>
        </div>
        <!--
        <div class="container ">
            <div class="text-center d-flex justify-content-center align-items-center"> hola 3</div>
        </div>
        <div class="container ">
            <div class="text-center d-flex justify-content-center align-items-center"> hola 4</div>
        </div>
        -->
    </div>

</div>