<div class="boxContacto d-none d-sm-none d-md-block">
  <span class="phone"><i class="fas fa-phone"></i> Llamar:<a href="965404705" class="phoneNumber"> 96 540 47 05</a></span>
  <span class="phone"><i class="fas fa-envelope"></i> Mail:<a href="calidadcreativa@yahoo.com" class="phoneNumber"> calidadcreativa@yahoo.com</a></span>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">

    <a class="navbar-brand " href="#" >SOLFETER</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="my-1 mx-2 close">X</span>
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="#">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#queHacemos">QUE HACEMOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/web/app-contacto">CONTACTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " *ngIf="isLogged" routerLink="/login">LOGIN</a>
            </li>

            <li class="nav-item d-block d-sm-block d-md-none">
              <hr>
              <span class="phone"><i class="fas fa-phone"></i> Llamar: <a class="nav-link phoneNumber" href="#965404705">96 540 47 05</a></span>
              
            </li>
          </ul>
        </div>
  </div>
</nav>
