<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="/dashboard">Company name</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" (click)="onLogout()">Salir</a>
        </li>
    </ul>
-->

</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav nav-list flex-column">

                    <li>
                        <a class="nav-link " aria-current="page" routerLink="/dashboard">
                            <span data-feather="home"></span>
                            Global
                        </a>
                    </li>

                    <li class="m-2 nav-header">Configuración</li>
                    <li>
                        <a class="nav-link" routerLink="/dashboard/configuracion">
                            <span data-feather="file"></span>
                            Configuración
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/dashboard/datos-empresa">
                            <span data-feather="shopping-cart"></span>
                            Datos de empresa
                        </a>
                    </li>

                    <li class="m-2 nav-header">Mensajes</li>
                    <li>
                        <a class="nav-link" routerLink="/dashboard/mensajes-contacto">
                            <span data-feather="file"></span>
                            <div class="fas fa-inbox"></div>
                            Entrada
                            <span class="badge badge-pill badge-warning text-primary ">{{nMnsEntrada}}</span>
                        </a>
                        <a class="nav-link" routerLink="/dashboard/mensajes-contacto-leidos">
                            <span data-feather="file"></span>
                            <div class="fas fa-glasses"></div>
                            Leidos
                            <span class="badge badge-pill badge-warning text-primary ">{{nMnsLeidos}}</span>
                        </a>
                        <a class="nav-link" routerLink="/dashboard/mensajes-contacto-borrados">
                            <span data-feather="file"></span>
                            <div class="fas fa-trash"></div>
                            Papelera
                            <span class="badge badge-pill badge-warning text-primary ">{{nMnsBorrados}}</span>
                        </a>
                    </li>



                    <li class="d-grid d-md-block m-2">

                        <button class="btn btn-dark " (click)="onLogout()">  <i class="fas fa-sign-out-alt"></i> Salir</button>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
