<footer id="footer">
  <div class="linea-fin"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Horario</span>
            </li>
            <li class="nav-item">
              <p>Lunes a Viernes</p>
              <p>08:00-14:00</p>
              <p>16:00-20:00</p>
            </li>
            
            
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">SOLFETER S.L.</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#quienesSomos">Sobre Nosotros</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Contáctanos</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="965404705"><i class="fas fa-phone"></i> 96 540 47 05</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="calidadcreativa@yahoo.com"><i class="fas fa-envelope"></i>calidadcreativa@yahoo.com</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://goo.gl/maps/UECN52LUS83cBtnN8"><i class="fas fa-map-marker"></i>C/ Lluís Vives 50, <br> 03330 Crevillent, Alicante</a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
      
      <div class="row text-center">
        <div class="col-md-4 box">
          <span class="copyright quick-links">Copyright &copy; Solfeter <script>document.write(new Date().getFullYear())</script>
          </span>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/solfeter.calidadcreativa">
              <i class="fab fa-facebook-f"></i>
            </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <a routerLink="/web/politica-de-privacidad">Política de Privacidad</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/web/aviso-legal">Aviso Legal</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/web/politica-de-cookies">Política de Cookies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
