<div class="cabecera">
    <h1 class="titleCabecera">
        CARPINTERÍA METÁLICA
    </h1>

    <h3 class="subtitle">
        Proyectos Realizados:
    </h3>
    <p class="subtitle">
      Trabajos en carpintería de aluminio en varias perfilarías, colores y calidades. Tales como perimetral y rotura térmica de aislamiento.
    </p>
</div>

<div class="line"></div>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/carp. metalica/rsz_20180206_150421.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación Metálica</h5>
        <h6 class="card-subtitle">Barandilla de aluminio bronce</h6>
        <p class="card-text mt-3">Instalación<strong> barandilla</strong> en color bronce, con <strong>tornillería de seguridad</strong>
          y <strong>taco químico</strong> en rampa de chalet.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/carp. metalica/rsz_20181219_205409.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación Cerramiento</h5>
        <h6 class="card-subtitle">Cerramiento de porche exterior</h6>
        <p class="card-text mt-3"><strong>Cerramiento exterior</strong> con <strong>aluminio perimetral</strong>, <strong>cristales climalit</strong>, <strong>mosquiteras</strong> y techo en
          panel sandwich con <strong>estructura metálica de hierro</strong> para la Instalación del mismo.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/carp. metalica/rsz_20181003_181405.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación Completa</h5>
        <h6 class="card-subtitle">Local comercial</h6>
        <p class="card-text mt-3">Instalación completa de escaparate con <strong>cristales de seguridad</strong> con <strong>puertas automáticas</strong>, <strong>perfilería de 
          aluminio</strong> decorativo en lacado texturado imitación a negro, color negro sable.
        </p>
        <p>Exterior fabricado con planchas de material
          <strong>alucubond</strong> y letras corporativas en material PVC lacadas al gusto del cliente.</p>
      </div>
    </div>
  </div>

<div class="buttonSection">
<button class="btn" routerLink="/web">volver</button>
</div>