
.linea{
    width: 75px;
    height: 6px;
    background-color: rgba(255, 147, 85, 0.877);
    margin: auto;
    border-radius: 3px;
    box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.35);
}


.card{
    width: 245px;
    height: 240px;
    position: relative;
    border-radius: 15px;   
    box-shadow: inset 0px 7px 17px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.25);
    border: none;

    
    .box{
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.4);
        transition: 0.5s;
    }

    .box:hover{
        transform: translateY(-15px);
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
        background: linear-gradient(122.35deg, #FFFFFF -148.73%, rgba(255, 255, 255, 0) 75.17%), #FF984D;
        
    }

    
    .img-quehacemos{
        margin-left: 30%;
        margin-right: 50%;
    }
    h4{
        padding-top: 25%;
        text-transform: uppercase;
        font-size: 20px;
        color: black;
    }

}

.que-hacemos-section{
    
    h3{
        font-weight: 900;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        margin-top: 60px;
    }
}

.title{
    font-weight: 900;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

