<div class="container">
    <div class="row">
        <div class="boxTitle">
            <h1 class="display-4 title"> Politica de privacidad</h1>
            <hr>
        </div>
        <div class="boxContent">
            <h2>POLÍTICA DE PRIVACIDAD</h2>   
<p>En el marco del cumplimiento de lo dispuesto en Art. 5.1 de la Ley Orgánica 15/1999, de 13 de diciembre, sobre Protección de Datos de Carácter Personal (LOPD), {{nombreEmpresa}}, Prestador del Sitio Web, informa a los Usuarios (en adelante, los “Usuarios” y “{{sitioWeb}}”) mediante este documento del uso y tratamiento de los datos personales que faciliten o vayan a facilitar en su navegación y de la política de protección de datos que se aplicará sobre dichos datos, para que los usuarios determinen libre y voluntariamente si desean facilitar los Datos Personales que se les puedan requerir en los formularios destinados a tal efecto.</p>
</div>  
<div class="boxContent">
<h2>INFORMACIÓN SOBRE DATOS DE TRÁFICO. DIRECCIONES IP.</h2>
    <p>Los datos de tráfico como nombre del proveedor de acceso, dirección IP, fecha y hora de acceso, enlaces desde los que accede y cualquiera otra información de naturaleza parecida o análoga que pueda proporcionar en su navegación por el Sitio web, en caso de recogerse, serán tratados de forma anónima y con la única finalidad de realizar estadísticas de visitas de nuestro Sitio web.</p>
    <p>Un método de recoger información complementaria de sus visitas a nuestro sitio web, es registrando la dirección o protocolo IP de su equipo. Este protocolo IP es un número que automáticamente es asignado a su sistema cada vez que usted navega. Cualquier página web a la que usted accede detecta inmediatamente la presencia de su terminal por su dirección IP. Cuando usted accede a nuestra página, su dirección IP queda automáticamente almacenada. Esta recogida tiene como única función, la elaboración de una estadística de visitas a nuestra web que permita conocer el funcionamiento de nuestro servicio y nos permita mejorarlo día a día, el punto de acceso, etc.</p>
</div>
<div class="boxContent">
<h2>Ejercicio de Derechos de Protección de Datos.</h2>
    <p>El usuario tiene derecho a solicitar y obtener gratuitamente información sobre sus datos de carácter personal sometidos a tratamiento, de su origen (que en nuestro caso serán siempre los formularios situados en la web) y de las comunicaciones que puedan afectar a los mismos.</p>
    <p>Para obtener esta información el Usuario deberá solicitarla al correo electrónico: {{correoEmpresa}}</p>
    <p>El envío lo deberá realizar desde la dirección de correo electrónico que incluyó en el/los formulario/s. En caso contrario, sus datos no le serán mostrados, por no considerar suficientemente probada su identidad.</p>
    <p>El Prestador quedará exonerado de responsabilidad en el caso de que la solicitud de muestra o corrección de datos se realice desde la dirección de correo electrónico que usted nos ha aportado a través de cualquiera de los formularios del Sitio web, pues en ese caso presumirá que es el usuario quién la realiza.</p>
    <p>El usuario podrá ejercer sus derechos de Acceso, Rectificación, Cancelación y Oposición de sus datos personales, dirigiéndose para ello a la dirección física en nuestras oficinas Centrales o mediante comunicación por escrito, incluyendo fotocopia de su DNI u otro documento identificativo similar, así como al correo electrónico anteriormente indicado, llevándose a cabo el ejercicio de los mismos en un plazo máximo de 10 días conforme a los procedimientos definidos a tal efecto por la empresa y normativa vigente.</p>
    <p>La cancelación supone el bloqueo de sus datos, que únicamente se conservarán para el caso de que sean recabados por las Administraciones Públicas competentes o por los Jueces y Tribunales.</p>
</div>
<div class="boxContent">
<h2>Consentimiento y revocación del usuario.</h2>
    <p>Para la utilización del Sitio Web es necesario aceptar por parte del Usuario, expresamente, mediante un “click” en el botón que se encuentra al final de los formularios de recogida de datos personales “Acepto la Política de Privacidad”, así como todas aquellas condiciones particulares recogidas para la utilización de determinados servicios. En caso de no aceptar la presente Política de Privacidad, no podrá completarse el proceso sobre los distintos servicios y/o información que puede ofrecerle el Sitio Web.</p>
<p>Por tanto, a través de las casillas de marcación El usuario acepta nuestra política de privacidad y obtenemos su consentimiento para el envío de comunicaciones informativas sobre nuestros productos y actividades así como para la contestación a las consultas formuladas por el usuario. Así mismo podrá en cualquier momento revocar el consentimiento prestado para el envío de estas comunicaciones electrónicas con fines de promoción y publicidad de nuestros productos y actividades, dirigiendo un mail a la dirección CORREO EMPRESA con el asunto BAJA COMUNICACIONES LOPD, o dirigiéndose a nuestro domicilio en los términos definidos por {{nombreEmpresa}}</p>
<p><b>Vías a través de las cuales se recaban datos personales. Finalidades del tratamiento.</b></p>
<ul>
    <li><p><b>Formularios de contacto y medios de comunicación tradicionales.</b></p>
        <p>Los datos personales recogidos serán objeto de tratamiento automatizado e incorporados a los correspondientes ficheros de los que {{nombreEmpresa}} es titular y que se encuentran debidamente Inscritos en el Registro General de la Agencia Española de Protección de Datos. Asimismo, podrá facilitarnos sus datos a través de teléfono, correo electrónico y otros medios de comunicación indicados en la sección de Contacto. Las finalidades del tratamiento de estos datos será la Gestionar los datos recibidos a través de formularios de la web para resolución de consultas,
             envío de publicidad y noticias sobre nuestras actividades, productos, servicios, promociones y concursos referentes a nuestro sector por medios tradicionales y electrónicos.</p>
    <p>Se informa que se gestionarán automatizadamente estos datos para la administración, ampliación y mejora de nuestros servicios así como para fines técnicos y comerciales sobre los servicios ofrecidos. En todo caso, los datos recogidos y tratados son únicamente los básicos para las finalidades señaladas anteriormente.</p>
    <p>El Usuario es responsable de la veracidad de sus datos, comprometiéndose a no introducir datos falsos y a proceder a la rectificación de los mismos si fuera necesario. El prestador pone a disposición del Usuario todos los medios para que pueda proceder a la modificación de sus datos mediante los formularios designados en nuestras webs. El Usuario manifiesta que cuando no introduce sus datos personales sino los de un tercero están autorizados por éste para su introducción.</p>
    <p>Los campos en los que figure un asterisco (*) son aquellos que requieren una cumplimentación obligatoria. De no ser cubiertos la consecuencia consiste en la imposibilidad de prestar el servicio que se pretende solicitar o la imposibilidad de enviar la solicitud de información.</p>
    <p>Ciertos servicios prestados a través del Sitio Web pueden contener condiciones particulares con previsiones específicas en materia de protección de datos personales. Se hace indispensable su lectura y aceptación con carácter previo a la solicitud del servicio de que se trate.</p>
    </li>
    <li><p><b> Redes sociales.</b></p>
        <p>{{nombreEmpresa}} cuenta con perfil en las principales redes sociales de Internet (facebook: {{facebook}}) reconociéndose en todos los casos responsable del tratamiento de los datos de sus seguidores,
             fans, suscriptores, comentaristas y otros perfiles de usuarios (en adelante, Seguidores). El tratamiento que llevará a cabo con dichos datos será, como máximo, el que la red social permita a los perfiles corporativos. 
             Así pues, se podrá informar a sus seguidores por cualquier vía que la red social permita sobre sus actividades, ofertas,promociones,concursos así como prestar servicio personalizado de atención al cliente.
             <br><br>
              En ningún caso se extraerá datos de las redes sociales, a menos que se obtuviera puntual y expresamente el consentimiento del usuario para ello. Cuando, debido a la propia naturaleza de las redes sociales,
             el ejercicio efectivo de los derechos del seguidor quede supeditado a la modificación del perfil personal de éste, {{nombreEmpresa}} le ayudará y aconsejará a tal fin en la medida de sus posibilidades.</p>
    </li>
</ul>
</div>
<div class="boxContent">
<h2>Destinatarios de la Información</h2>
    <p>Los destinatarios de la información recabada sólo y exclusivamente serán los trabajadores de {{nombreEmpresa}}</p>
</div>
<div class="boxContent">
        <h2>Medidas de Seguridad.</h2>
        <p>Por último se le informa que se tienen adoptados los niveles de seguridad de protección de Datos Personales legalmente requeridos por la normativa vigente, y se ha instalado todos los medios y medidas técnicas y organizativas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales que se nos facilite . No obstante, el Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.</p>
</div>
<div class="boxContent">
    <h2>Duración y Modificación.</h2>
        <p>{{nombreEmpresa}} se reserva el derecho a modificar, total o parcialmente, la presente Política de Privacidad, publicando los cambios en el sitio Web. Asimismo podrá efectuar sin previo aviso las modificaciones que considere oportunas en el sitio Web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que presta, como la forma en la que éstos aparezcan presentados o localizados. En consecuencia se entenderán como vigentes, las que estén publicadas en el momento en el que el Usuario acceda al sitio web por lo que el Usuario deberá leerlas periódicamente.</p>
        <p>Con independencia de lo dispuesto, {{nombreEmpresa}} podrá dar por terminado, suspender o interrumpir, en cualquier momento sin necesidad de preaviso, el acceso a los contenidos de la página, sin posibilidad por parte del Usuario de exigir indemnización alguna.</p>
    </div>
    </div>
</div>


