<div class="cabecera">
    <h1 class="titleCabecera">
        PLANOS Y ARQUITECTURA
    </h1>

    <h3 class="subtitle">
        Proyectos Realizados:
    </h3>

    <p>Elaboramos <strong>planos, diseño de interiores y renderizados</strong>.</p>
</div>

<div class="line"></div>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/arquitectura/discussing-building-plan.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Asesoramiento Personalizado</h5>
        <h6 class="card-subtitle">Planos y arquitectura</h6>
        <p class="card-text mt-3">Elaboramos <strong>planos de viviendas</strong> según especificaciones del cliente.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/arquitectura/3d-house-decoration.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Diseño de interiores y decoración</h5>
        <h6 class="card-subtitle">Diseño Personalizado</h6>
        <p class="card-text mt-3">Conceptualizamos y creamos <strong>diseños estéticos</strong> y funcionales para <strong>espacios interiores</strong>.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/arquitectura/agafrafr.PNG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Renderizados 3D</h5>
        <h6 class="card-subtitle">Diseños y planos</h6>
        <p class="card-text mt-3">Damos la oportunidad a nuestros clientes de visualizar el proyecto ya finalizado con el objetivo de dar una apariencia realista desde cualquier perspectiva del modelo.
        </p>
      </div>
    </div>
  </div>

<div class="buttonSection">
<button class="btn" routerLink="/web">volver</button>
</div>
