<section class="informacion">
  <div class="row ">
    <div class="col">
      <h1 class="cabecera">Contáctanos:</h1>
      <h5>Teléfono: <a href="965404705">96 540 47 05</a></h5>
      <h5>
        Email: <a href="calidadcreativa@yahoo.com">calidadcreativa@yahoo.com</a>
      </h5>
    </div>
    <div class="col">
      <h1 class="cabecera">Horarios:</h1>
      <h4>Lunes - Viernes</h4>
      <h5>Mañanas: 08:00 - 14:00</h5>
      <h5>Tardes: 16:00 - 20:00</h5>
    </div>
  </div>
</section>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">

  <div class=" col p-2">
    <app-contact-form></app-contact-form>
  </div>

  <div class="col p-2">
    <section class="d-none d-sm-none d-md-block">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d542.0510867628864!2d-0.8042347073263629!3d38.245950067642084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63b96c705a8bed%3A0x126ba3999ed6413d!2sCristaler%C3%ADa%20Sol!5e0!3m2!1ses!2ses!4v1621958322076!5m2!1ses!2ses"
        width="100%"
        height="550"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </section>

    <section class="d-block d-sm-block d-md-none">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d542.0510867628864!2d-0.8042347073263629!3d38.245950067642084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63b96c705a8bed%3A0x126ba3999ed6413d!2sCristaler%C3%ADa%20Sol!5e0!3m2!1ses!2ses!4v1621958322076!5m2!1ses!2ses"
        width="100%"
        height="400"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </section>
  </div>
</div>
