<div class="container">
    <div class="mt-1">
        <app-navbar></app-navbar>
    </div>
    <div class="mt-1">
        <app-jumbotron></app-jumbotron>
    </div>

    <div class="mt-4 text-center d-flex justify-content-center align-items-center">
        <h1 class="display-8">
            {{title}}
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2">
        <div class="container mt-5">
            <div class="text-center">
                <p class="" [innerHTML]="paragraphs1"></p>
                <p class="" [innerHTML]="paragraphs2"></p>
            </div>

        </div>
        <div id="contactForm" class="col mt-4">
            <app-contact-form></app-contact-form>

        </div>
    </div>
    <div class="mt-4">
        <app-footer></app-footer>
    </div>
</div>