<div class="cabecera">
    <h1 class="titleCabecera">
        CRISTALERÍA
    </h1>

    <h3 class="subtitle">
        Proyectos Realizados:
    </h3>
    <p class="subtitle">
      Instalaciones de vidrios planos y curvos decorativos, cristales de seguridad y escaparates.
    </p>
</div>

<div class="line"></div>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/cristaleria/20200303_184624.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación Cristalería</h5>
        <h6 class="card-subtitle">Barandilla de cristal</h6>
        <p class="card-text mt-3">Instalación de <strong>barandilla de cristal</strong> con pilares de <strong>acero inoxidable</strong>, puerta abatible con cerradura y parte curva
          en <strong>cristal laminado de seguridad</strong> 8+8.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/cristaleria/20170807_144842.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación exterior</h5>
        <h6 class="card-subtitle">Puerta automática con cristal de seguridad</h6>
        <p class="card-text mt-3"><strong>Puerta automática de garaje</strong> con perfilería de acero inoxidable y con <strong>vidrio de seguridad</strong> en opal en 8+8, </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/cristaleria/20170824_120131.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instalación Escaparate</h5>
        <h6 class="card-subtitle">Local comercial</h6>
        <p class="card-text mt-3">Instalación de vidrio de seguridad 6+6 de escaparate con u de acero inoxidable, puerta templada
          con cerradura y fijo superior en vidrio templado de 12 mm.
        </p>
      </div>
    </div>
  </div>

<div class="buttonSection">
<button class="btn" routerLink="/web">volver</button>
</div>
